/* Import a cool space/universe font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

/* Set body background to a dark, mars-inspired gradient */

#submit_button {
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(30, 10, 10, 0.3); /* transparent Mars shade */
    backdrop-filter: blur(3px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    box-shadow: 2px 2px 20px rgba(255, 70, 0, 0.15);
}
.navbar a {
    font-family: 'Orbitron', sans-serif;
    color: #ff7043;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    
}
.navbar-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

@media (max-width: 768px) {
  .navbar {
    padding: 8px 10px;
  }

  .navbar-buttons {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .navbar a {
    font-size: 1rem;
    padding: 4px 6px;
  }
}
  


.navbar a:hover {
    color: #ffa07a;
    text-shadow: 0 0 10px rgba(255, 140, 0, 0.9);
}
