{% extends "base.html" %}

{% block title %}House Rules{% endblock %}

{% block head %}
<style>
    body {
        color: white;
    }

    .container {
        background: rgba(50, 15, 15, 0.85);
        border-radius: 15px;
        margin-top: 80px;
        padding: 80px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }



    .rule-section {
        margin-bottom: 30px;
    }

    .rule-content {
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .rule-content p {
        position: relative;
        padding-left: 20px;
    }

    .rule-content p::before {
        content: "•";
        position: absolute;
        left: 0;
        top: 0;
        color: #f39c12;
        font-size: 1.5rem;
    }

    .btn-back {
        margin-top: 30px;
        display: block;
        width: 100%;
        background-color: #e74c3c;
        color: white;
        font-size: 1.2rem;
        padding: 10px;
        border: none;
        border-radius: 8px;
    }

    .btn-back:hover {
        background-color: #e67e22;
    }

    @media (max-width: 768px) {
        .container {
            width: 95%;
            padding: 40px;
        }

        h1 {
            font-size: 2rem;
        }
    }

    main {
        padding: 30px 0;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="container_simple">
    <h1>House Rules</h1>
    <div class="rule-section">
        <h2 class="rule-title">Generelt</h2>
        <div class="rule-content">
            <p>Ved carddraw med kort med requirements skal der altid reveales.</p>
            <p>Du kan ikke pass hvis du har lavet en action, men du kan pre-pass ved at råbe "pass in advance"</p>
            <p>Alle effekter skal ske inden det bliver din tur igen (TR undtaget)</p>
            <p>Der må ikke fortages ændringer på actions efter du har sendt turen videre</p>

        </div>
    </div>
    <div class="rule-section">
        <h2 class="rule-title">Kort</h2>
        <div class="rule-content">
            <p>Toll Station: 1 guld produktion per 2 space tags.</p>
            <p>Kort med krav ±2 effect for terraforming gælder også for venus (gælder ikke corporations)</p>
        </div>
    </div>

    <div class="rule-section">
        <h2 class="rule-title">Colonies</h2>
        <div class="rule-content">
            <p>Pluto: Halver korttrækning når man flyver til den (runder op), man <strong>SKAL</strong> trække og discarde når man har en koloni.</p>
        </div>
    </div>

    <div class="rule-section">
        <h2 class="rule-title">Turmoil</h2>
        <div class="rule-content">
            <p>Man går ikke en TR ned hver revolution.</p>
            <p>2 eventkort vendes før valg af corporations og start kort</p>
        </div>
    </div>

        <div class="rule-section">
        <h2 class="rule-title">Sæsonafslutning</h2>
        <div class="rule-content">
            <p>Efter ca. 20. games begynder starten på frygtløs draft af corperation. Når der ikke er flere corperations tilbage til at et game kan gennemføres afsluttes sæsonen</p>
        </div>
    </div>


    <div class="rule-section">
        <h2 class="rule-title">Points</h2>
        <div class="rule-content">
            <p>Point tildeles efter antallet af deltagere i spillet. Vinderen får det højeste antal point svarende til antallet af spiller, og de øvrige placeringer får et point mindre for hver plads nedad.</p>
            <p>Ved sæstaflutning afgøres placeringen efter følgende parametre i prioteret rækkefølge:</p>
            <ul>
                <li>Total wins</li>
                <li>Total points</li>
                <li>Mean points</li>
                <li>Max game score</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
