<!-- templates/navbar.html -->
<div class="navbar">
    <!-- Left/center links -->
    <div class="navbar-buttons">
        <a href="/plots">Plots</a>
        <a href="/houseRules">House Rules</a>
        <a href="/">Submit result</a>
        <a href="/wheelOfNames">Spin the What</a>
    </div>

    <!-- Right-aligned volume control -->
    <div class="volume-control">
        <button id="mute-btn">🔊</button>
        <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="1">
    </div>
</div>
